body
{
    background-color: rgb(205, 255, 212);
    text-align: center;
}
body{
    background-color:rgb(222, 135, 208);
    padding:4px;
    background-image: url('./src/descarga.jpeg');
    padding: 15px;
}
#sech{
display:flex;
}
.imgh{
    height:70px;
    width:70px;
}
.comentarios{
    width: 5cm;
    height: 15vh;
}
.form-register{
    width: 400px;
    background: #dce0df;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Times New Roman';
    color: rgb(204, 200, 200);

}
label{
    color:aliceblue;
}
fieldset{
      /* display: flex; */
      background-color: rgb(120, 89, 141);
      /* justify-content: center; */
      width: 90vh;
      height: auto;
  }
  form{
      display: flex;
      justify-content: center;
  }  